In [1]:
!pip install nltk

Requirement already satisfied: nltk in /Users/ashokpandey/opt/anaconda3/envs/dev/lib/python3.7/site-packages (3.7)
Requirement already satisfied: tqdm in /Users/ashokpandey/opt/anaconda3/envs/dev/lib/python3.7/site-packages (from nltk) (4.62.3)
Requirement already satisfied: regex>=2021.8.3 in /Users/ashokpandey/opt/anaconda3/envs/dev/lib/python3.7/site-packages (from nltk) (2021.11.2)
Requirement already satisfied: joblib in /Users/ashokpandey/opt/anaconda3/envs/dev/lib/python3.7/site-packages (from nltk) (1.1.0)
Requirement already satisfied: click in /Users/ashokpandey/opt/anaconda3/envs/dev/lib/python3.7/site-packages (from nltk) (8.0.4)
Requirement already satisfied: importlib-metadata in /Users/ashokpandey/opt/anaconda3/envs/dev/lib/python3.7/site-packages (from click->nltk) (4.8.2)
Requirement already satisfied: typing-extensions>=3.6.4 in /Users/ashokpandey/opt/anaconda3/envs/dev/lib/python3.7/site-packages (from importlib-metadata->click->nltk) (3.10.0.2)
Requirement already satisfied: zipp>=0.5 in /Users/ashokpandey/opt/anaconda3/envs/dev/lib/python3.7/site-packages (from importlib-metadata->click->nltk) (3.7.0)

In [4]:
import nltk

In [6]:
nltk.download('vader_lexicon') # one time only

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /Users/ashokpandey/nltk_data...

True

In [39]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [40]:
vader = SentimentIntensityAnalyzer() # or whatever you want to call it

In [41]:
sample = 'I really love NVIDIA'
vader.polarity_scores(sample)

{'neg': 0.0, 'neu': 0.308, 'pos': 0.692, 'compound': 0.6697}

In [42]:
sample = 'I really don\'t love NVIDIA'
vader.polarity_scores(sample)

{'neg': 0.549, 'neu': 0.451, 'pos': 0.0, 'compound': -0.5642}

In [43]:
import numpy as np
import pandas as pd
df = pd.read_csv('wsj_headlines.csv')
#df = pd.read_csv('amazonreviews.csv', sep='\t')
df.head()

,Unnamed: 0,Date,Headline,Category
0,6935,1/7/98,China to Cut Tariffs on Some Imports,Business and Finance - Asia
1,15717,2/12/98,Ogden Argentina Seal Pact,Major Business News
2,7118,3/26/98,The Euro Club,Review & Outlook
3,18502,5/3/98,ECB Squabble Sours EU's Launch of Euro,Business and Finance - Europe
4,1477,5/4/98,Hongkong Telecom's Revenue Fell,Business and Finance - Asia

In [44]:
#df['label'].value_counts()

In [21]:
'''df.dropna(inplace=True)
empty_objects = []
for index, label, review in df.itertuples():
    if type(review)==str:
        if review.isspace():
            empty_objects.append(i)
 
df.drop(empty_objects, inplace=True)

In [45]:
df.head()

,Unnamed: 0,Date,Headline,Category
0,6935,1/7/98,China to Cut Tariffs on Some Imports,Business and Finance - Asia
1,15717,2/12/98,Ogden Argentina Seal Pact,Major Business News
2,7118,3/26/98,The Euro Club,Review & Outlook
3,18502,5/3/98,ECB Squabble Sours EU's Launch of Euro,Business and Finance - Europe
4,1477,5/4/98,Hongkong Telecom's Revenue Fell,Business and Finance - Asia

In [46]:
df['scores'] = df['Headline'].apply(lambda headline: vader.polarity_scores(headline))
df.head()

,Unnamed: 0,Date,Headline,Category,scores
0,6935,1/7/98,China to Cut Tariffs on Some Imports,Business and Finance - Asia,"{'neg': 0.259, 'neu': 0.741, 'pos': 0.0, 'comp..."
1,15717,2/12/98,Ogden Argentina Seal Pact,Major Business News,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."
2,7118,3/26/98,The Euro Club,Review & Outlook,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."
3,18502,5/3/98,ECB Squabble Sours EU's Launch of Euro,Business and Finance - Europe,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."
4,1477,5/4/98,Hongkong Telecom's Revenue Fell,Business and Finance - Asia,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."

In [47]:
df['scores'] = df['scores'].apply(lambda x : x['compound'])

In [71]:
df[df['scores']==0]

,Unnamed: 0,Date,Headline,Category,scores,signal
1,15717,2/12/98,Ogden Argentina Seal Pact,Major Business News,0.0,neutral
2,7118,3/26/98,The Euro Club,Review & Outlook,0.0,neutral
3,18502,5/3/98,ECB Squabble Sours EU's Launch of Euro,Business and Finance - Europe,0.0,neutral
4,1477,5/4/98,Hongkong Telecom's Revenue Fell,Business and Finance - Asia,0.0,neutral
5,3302,5/4/98,Boeing to Take Equity Stake in Ellipso,Major Business News,0.0,neutral
...,...,...,...,...,...,...
19217,3152,6/27/21,How a Beer Giant Manages Through Waves of Covi...,Business,0.0,neutral
19218,11046,6/27/21,The High Cost of Bipartisanship,Commentary,0.0,neutral
19221,16349,6/29/21,House Votes to Repeal Two Older Military Force...,Politics,0.0,neutral
19223,3474,6/30/21,Book Review ‘Till the End’ By CC Sabathia,Bookshelf,0.0,neutral
19224,5184,6/30/21,New York City Lawmakers Approve 987 Billion Bu...,Politics,0.0,neutral

In [63]:
df ['signal'] = df['scores'].apply(lambda x: 'pos' if x > 0 else 'neg' if x < 0 else 'neutral')

In [65]:
df[df['signal'] == 'neutral']

,Unnamed: 0,Date,Headline,Category,scores,signal
1,15717,2/12/98,Ogden Argentina Seal Pact,Major Business News,0.0,neutral
2,7118,3/26/98,The Euro Club,Review & Outlook,0.0,neutral
3,18502,5/3/98,ECB Squabble Sours EU's Launch of Euro,Business and Finance - Europe,0.0,neutral
4,1477,5/4/98,Hongkong Telecom's Revenue Fell,Business and Finance - Asia,0.0,neutral
5,3302,5/4/98,Boeing to Take Equity Stake in Ellipso,Major Business News,0.0,neutral
...,...,...,...,...,...,...
19217,3152,6/27/21,How a Beer Giant Manages Through Waves of Covi...,Business,0.0,neutral
19218,11046,6/27/21,The High Cost of Bipartisanship,Commentary,0.0,neutral
19221,16349,6/29/21,House Votes to Repeal Two Older Military Force...,Politics,0.0,neutral
19223,3474,6/30/21,Book Review ‘Till the End’ By CC Sabathia,Bookshelf,0.0,neutral
19224,5184,6/30/21,New York City Lawmakers Approve 987 Billion Bu...,Politics,0.0,neutral

In [66]:
df['signal'].value_counts()

neutral    10121
neg         4726
pos         4380
Name: signal, dtype: int64